/* GENERAL */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link-hover-black {
  color: black;

  &:hover {
    text-decoration: none;
  }
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}
/* END GENERAL */

/* HOME */
.carousel-item > img {
  height: 500px;
  object-fit: cover;
}
/* END HOME */

/* NAVIGATION */
#search-nav {
  @media only screen and (min-width: 576px) {
    width: 75%;
  }
  @media only screen and (min-width: 768px) {
    width: 50%;
  }
}

#search-dropdown {
  border-radius: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 0;
  border-left: 1px solid gray;
  background-color: white;
  color: black;
  flex: 1;

  &:focus {
    box-shadow: none;
  }
}

#search-box {
  border-radius: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 0;
  flex: 20;

  &:focus {
    box-shadow: none;
  }
}

#search-button {
  border-radius: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 0;
  background-color: orange;
  color: black;
  flex: 1;

  &:focus {
    box-shadow: none;
  }
}

.submenu {
  padding: 0 1.5rem !important;
}

.submenu > .dropdown-toggle {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-submenu-navdropdown-item {
  color: rgba(0, 0, 0, 0.5) !important;

  &:hover {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}
/* END NAVIGATION */

/* ACCOUNT */
.account-form {
  border: 1px solid gray;
  padding: 15px 30px 30px 30px;
}

.account-logo {
  width: 100px;
  height: 100px;
}

.button-oval {
  border-radius: 30px 30px 30px 30px !important;
}

.account-button-container {
  padding-left: 30px;
  padding-right: 30px;
}

.button-orange {
  background-color: orange !important;
  border-color: orange !important;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.5) !important;
  }
}
/* END ACCOUNT*/

/* PRODUCTS */
.filter-link {
  color: black;

  &.active {
    color: #007bff;
  }
}

.filter-input-group {
  width: 100px !important;

  & input {
    text-align: center;
  }
}

.product-box-img {
  width: 100%;
  height: 200px !important;
  object-fit: cover;
}
/* END PRODUCTS */

/* PRODUCT */
.product-img {
  width: 100%;
  height: 400px !important;
  object-fit: cover;
}

.category-tag {
  font-size: 15px;
  color: gray;
}

.product-description {
  width: 80%;
  font-size: 20px;
}

.product-detail {
  font-size: 18px;
}

.button-round {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  text-align: center;
}

.quantity-input {
  width: 50px !important;
  display: inline !important;
  text-align: center;
}

.add-to-cart-button {
  width: 200px;
}
/* END PRODUCT */

/* CART */
.vertical-divider {
  @media only screen and (min-width: 992px) {
    border-left: 2px solid lightgrey;
  }
}

.cart-img {
  width: 100%;
  height: 200px !important;
  @media only screen and (max-width: 992px) {
    height: 150px !important;
  }
  @media only screen and (max-width: 768px) {
    height: 100px !important;
  }
  @media only screen and (max-width: 576px) {
    height: 50px !important;
  }
  object-fit: cover;
}

/* END CART */
